<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>pinsta</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/scripts/angular-chips/dist/main.css">
  <link rel="stylesheet" href="/scripts/semantic-ui/dist/semantic.min.css">
  <link rel="stylesheet" href="/css/site.css"/>
</head>

<body>
  <div>
    <a ui-sref="Home">Home</a>
  </div>

  <ui-view></ui-view>
  
  <script   src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
  <script src="/scripts/semantic-ui/dist/semantic.min.js"></script>
  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/scripts/angular-resource/angular-resource.min.js"></script>
  <script src="/scripts/angular-animate/angular-animate.min.js"></script>
  <script src="/scripts/angular-touch/angular-touch.min.js"></script>
  <script src="/scripts/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/scripts/angular-chips/dist/angular-chips.min.js"></script>

  <script src="/app.js"></script>
  <script src="/js/HTTPFactory.js"></script>
  <script src="/modules/Home/service/HomeService.js"></script>
  <script src="/modules/User/service/UserService.js"></script>
  <script src="/modules/Board/service/BoardService.js"></script>
  <script src="/modules/Home/controller/HomeController.js"></script>
  <script src="/modules/User/controller/UserController.js"></script>
  <script src="/modules/Board/controller/CreateBoardController.js"></script>
  <script src="/modules/Board/controller/BoardController.js"></script>
  <script src="/modules/Home/directive/popup.js"></script>
</body>

</html>
