<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>pinsta</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/scripts/angular-chips/dist/main.css">
  <link rel="stylesheet" href="/scripts/semantic-ui/dist/semantic.min.css">
  <link rel="stylesheet" href="/css/site.css"/>
</head>

<body>
  <!-- <div class="navbar" ng-controller="NavController as vm">
    <a>Home</a> |
    <a ng-show="vm.status._id === null" ui-sref="Login">Login</a>
    <a ng-show="vm.status._id === null" ui-sref="Register">Register</a>
    <button ng-show="vm.status._id !== null" ng-click="vm.logout()">Logout</button>
  </div> -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li class="active"><a ui-sref="forbarbers">Home</a></li>
          <li><a href="#"></a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"></a></li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <ui-view></ui-view>
  
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
  <script src="/scripts/semantic-ui/dist/semantic.min.js"></script>
  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/scripts/angular-resource/angular-resource.min.js"></script>
  <script src="/scripts/angular-animate/angular-animate.min.js"></script>
  <script src="/scripts/angular-touch/angular-touch.min.js"></script>
  <script src="/scripts/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/scripts/angular-chips/dist/angular-chips.min.js"></script>

  <script src="/app.js"></script>
  <script src="/js/HTTPFactory.js"></script>
  <script src="/modules/Home/service/HomeService.js"></script>
  <script src="/modules/User/service/UserService.js"></script>
  <script src="/modules/Board/service/BoardService.js"></script>
  <script src="/modules/Home/controller/HomeController.js"></script>
  <script src="/modules/User/controller/UserController.js"></script>
  <script src="/modules/Board/controller/CreateBoardController.js"></script>
  <script src="/modules/Board/controller/BoardController.js"></script>
  <script src="/modules/Nav/controller/NavController.js"></script>
  <script src="/modules/Home/directive/popup.js"></script>
  <script src="/modules/Home/directive/modal.js"></script>
  <script src="/modules/Home/directive/modalView.js"></script>
  <script src="/modules/Nav/directive/navbar.js"></script>
</body>

</html>
