<div class="container">
  <h1>Home Page</h1>
</div>
<div class="container-fluid">
  <div class="col-xs-12 ">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Welcome: {{vm.user.username}}</h2>

        <div class="row">
          <!-- Popup -->
          <div class="col-xs-3 col-md-3">
            <div popup class="fluid ui red button "><i class="pin icon"></i>Post pin</div>
            <div class=" ui flowing popup top right transition hidden">
              <div class="ui two column divided center aligned grid">
                <div class="column">
                  <h4 class="ui header">Post from Instagram</h4>
                  <!-- Modal -->
                  <modalview></modalview>
                  <!-- End of Modal -->
                </div>
                <div class="column">
                  <h4 class="ui header">Post Image <br> URL</h4>
                  <div class="ui button tiny"><i class="image icon"></i></div>
                </div>
              </div>
            </div>
            <!-- End of Popup -->
          </div>
          
          
          <div class="col-xs-3 col-md-3">
            <button ng-click="vm.viewBoards()" type="button" class="fluid ui secondary button" name="button">View My Boards</button>
          </div>
          <div class="col-xs-3 col-md-3">
            <button ng-click="vm.viewBoards()" type="button" class="fluid ui secondary button" name="button">View My Boards</button>
          </div>
          <div class="col-xs-3 col-md-3">
            <button ng-click="vm.createBoard()" class="fluid ui active button">
              <i class="plus icon"></i>
              Create Board
            </button>        
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h1>Pins</h1>
</div>





