<div pinmodal class="ui test button tiny">
  <i class="instagram icon"></i>
</div>
<div class="ui basic modal">
  <i class="close icon"></i>
  <div class="header">
    Enter Instagram URL
  </div>
  <div class="content">
    <div class="ui fluid action input">
      <input type="text" placeholder="Instagram URL">
      <div class="ui button">Get IG Pic</div>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui cancel red basic inverted button">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui ok green basic inverted button">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
  </div>
</div>